<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.category%><h4>
<p><%= @restaurant.address%><p>
<p><%= @restaurant.phone_number%><p>

<p><% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>

<% end %><p>

  <p><%#= link_to "add a review", restaurant_reviews_path(restaurant) %><p>
  <p><%= link_to "back to menu", restaurants_path %><p>


